body {
  background-color: #dadada;

}
.full-width {
  width: 100%;
}

.grid-contain {
  display: grid;
  font-size: 30px;
  margin: 0 auto;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 80px repeat(10, 100px);
  width: 420px;
}

nav {
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
}
nav h1 {
  margin-top: 15px;
  text-align: center;

}
section {
  grid-column: 1 / 2;
  grid-row: 1 / 7;
}
.headline {
  grid-column: 1 / 2;
  grid-row: 4 / 7;
}
.headline h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 900;
  margin: 50px 0 20px 0;
  z-index: 1;
}
aside {
  grid-column: 1 / 2;
  grid-row: 7 / 10;
}
aside div {
  margin-bottom: 20px;
}
h2 a, h3 a, h4 a, p a {
  text-decoration: none;
}
footer {
  background-color: #aaa;
  grid-column: 1 / 2;
  grid-row: 10 / 11;
}

@media screen and (min-width: 768px) {
  .grid-contain {
    width: 740px;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    rid-template-rows: 80px repeat(9, 100px) 40px;
  }
  aside {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  section {
    grid-column: 1 / 5;
    grid-row: 3 / 10;
  }
  .full-width {
    width: 100%;
    display: block;
  }
  .headline {
    grid-column: 2 / 4;
    grid-row: 6 / 9;
  }
  .headline h1, .headline h3 {
    color: #fff;
  }
  .headline h1 {
    font-size: 75px;
  }
  footer {
    background-color: #ba0c2f;
    grid-column: 1 / 5;
    grid-row: 11 / 12;
    padding: 12px;
  }
  footer p, footer a {
    color: #fff;
    float: left;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 5px;
  }
}
